export DEV_HOME="$HOME/Work/dev/dev_home"
export XDG_CONFIG_HOME="$DEV_HOME/.config"
export XDG_DATA_HOME="$DEV_HOME/.local/share"
export XDG_CACHE_HOME="$DEV_HOME/.cache"
export XDG_STATE_HOME="$DEV_HOME/.local/state"
export HOME="$DEV_HOME"

if [ -f "$DEV_HOME/.config/vite-plus/env" ]; then
  source "$DEV_HOME/.config/vite-plus/env"
fi
