# Modifier les chemins d'exécution pour cibler le conteneur dev-env
export PATH="$(distrobox-host-exec distrobox enter dev-env -- printenv PATH)"

# Optionnel : Indiquer aux outils de dev (Node, Python...) d'utiliser le Home isolé
export HOME="$HOME/Work/dev/dev_home"
